body {
  background: #f7f2e4;
  color: #482e19;
}

#root {
  display: flex;
  font-family: sans-serif;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0 2rem;
  font-size: 2rem;
  background: #0991ff;
  color: white;
  cursor: pointer;
}

h1 {
  margin-left: 1rem;
  margin: 0.2rem 1rem;
  font-weight: normal;
}

span {
  font-size: 2rem;
  margin: 0.1rem 0.8rem;
}